@import "src/Common/Styles/mixins";

.skillsBlock {
  display: flex;
  justify-content: center;

  .presentBlock {
    @include commonContainer;
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 1000px) {
  .presentBlock {
    flex-wrap: wrap;
  }
}
