@import "src/Common/Styles/mixins";

.skillBlock {
  display: flex;
  justify-content: center;

  .presentBlock {
    @include commonContainer;
    display: flex;
    flex-direction: column;

    .header {
      font-size: 16pt;
      font-weight: bold;
    }

    .body {
      display: flex;
      justify-content: space-between;

      .skillsBlock {
        width: 49%;
      }
    }
  }
}

@media (max-width: 1290px) {
  .skillsBlock {
    width: 100%;
    margin-right: 0;
  }
  .body {
    flex-wrap: wrap;
  }
}
