.technicalSkillsBlock {
    width: 100%;
}
.nameOfTechnicalSkills{
    font-size: 16pt;
    font-weight: bold;
}

@media (max-width: 1000px) {
    .technicalSkillsBlock {
        width: 100%;
        margin-right: 0;
    }

}
