.professionalSkillsBlock {
  width: 100%;
  display: flex;
  flex-direction: column;

  .nameOfProfessionalSkills {
    font-size: 16pt;
    font-weight: bold;
  }

  .skills {
    display: flex;
    justify-content: space-around;


    .wrap {
      display: flex;
      flex-direction: column;

    }
  }
}



