.containerBlock {
    display: flex;
    justify-content: center;
    background-color: #ffdee9;
    padding: 0 50px;
    /*height: 470px;*/
}

.presentBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-width: 300px;
}

.menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 50px 0;
    width: 80%;
}

a {
    font-size: 16pt;
}

.about {
    display: flex;
    flex-wrap: wrap;
}

.description {
    margin-left: 100px;
}

.img {
    object-fit: none;
    border-radius: 7px;
}

.name {
    font-size: 20pt;
    font-weight: bold;
}

.position {
    margin-top: 10px;
}