@import "src/Common/Styles/mixins";

.welcomeBlockBlock {
  display: flex;
  background: linear-gradient(54deg, rgba(74, 76, 179, .95) 34%, hsla(0, 34%, 71%, .95));

  .presentBlock {
    @include commonContainer;
    display: flex;

    .img {
      margin-right: 100px;
      object-fit: none;
      border-radius: 7px;
      transform: translate(0px, 50px);
    }

    .description {
      margin-top: 50px;

      .name {
        font-size: 44px;
        line-height: 50px;
        font-weight: 700;
        font-family: Roboto Mono, monospace;
      }

      .position {
        font-size: 16px;
        line-height: 24px;
        margin-top: 10px;
        font-family: Roboto Mono, monospace;
      }

      .profileContacts {
        margin-bottom: 20px;

        .contactList {
          dt {
            float: left;
            font-weight: 700;
            text-transform: uppercase;
            color: rgb(153, 153, 153);
          }

          dd {
            padding-left: 100px;
            margin-bottom: 15px
          }
        }
      }
    }
  }
}

@media (max-width: 1059px) {
  .img {
    display: none;
  }
  .description {
    margin-left: 0;
    display: flex;
    flex-direction: column;
  }
}