.containerBlock {
    display: flex;
    justify-content: center;
    background-color: #ffdee9;
    padding: 0 50px;
    height: 470px;
}

.presentBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80%;
    min-width: 300px;

}
.menu{
    display: flex;
    justify-content: space-between;
    margin: 50px 0;
    width: 600px;
}

a{
    font-size: 16pt;
}

.about{
    display: flex;
}

.photo{

}

.description{
    margin-left: 100px;
}

.img{
    height: auto;
    width: 100%;
    border-radius: 7px;

}
