@import "src/Common/Styles/mixins";

.contactMeBlock {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

  .presentBlock {
    @include commonContainer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .social {
      display: flex;

      a {
        color: black;
        margin: 0 26px;
      }
    }

    .contact {
      font-size: 16pt;
      font-weight: bold;
      align-self: flex-start;
    }

    .form {
      @include commonContainer;
      padding-top: 30px;
      display: flex;
      flex-direction: column;
      width: 60%;
      min-width: 300px;
    }
  }
}

