@import "src/Common/Styles/mixins";

.educationBlock {
  display: flex;
  justify-content: center;

  .presentBlock {
    @include commonContainer;
    display: flex;
    flex-direction: column;
    position: relative;

    .header {
      font-size: 16pt;
      font-weight: bold;
    }
  }
}








