.containerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ddfee9;
}

.presentBlock {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: 45%;
}

.header {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    height: 35%;
}

.text {
    background-color: #d8d8d8;
    font-size: 16pt;
    font-weight: bold;
}

.body {
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    height: 65%;
}
