.containerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 100vh;
    background-color: #ddfee9;
}

.presentBlock {
    border: 2px solid black;
    width: 79%;
    height: 60%;
}
.header{
    border-bottom: 2px solid black;
    height: 30%;
}

.text{
    background-color: #d8d8d8;
    font-size: 16pt;
    font-weight: bold;
}
