
.placeOfWork {
  padding-left: 25px;
  padding-bottom: 50px;
  border-left: 3px solid #6d56c1;

  .placesName {
    color: #6d56c1;
    font-size: 12pt;
    font-weight: bold;
  }

  .yearsPeriod {
    color: rgb(153, 153, 153);
  }

  .description {
    font-size: 11pt;
  }
}

.placeOfWork::before {
  width: 12px;
  height: 12px;
  border: 2px solid rgb(109, 86, 193);
  position: absolute;
  content: "";
  border-radius: 50%;
  background-color: rgb(255, 255, 255);
  left: -5px;
}