@import "../../Common/Styles/mixins";

.employmentBlock {
  display: flex;
  justify-content: center;

  .presentBlock {
    @include commonContainer;
    display: flex;
    flex-direction: column;
    min-width: 300px;
    position: relative;

    .header {
      display: flex;
      justify-content: flex-start;
      font-size: 16pt;
      font-weight: bold;
    }
  }
}


