@import "src/Common/Styles/mixins";

.headerBlock {
  background-color: white;
  z-index: 100;
  position: fixed;
  height: 70px;
  width: 100%;
  display: flex;

  .header {
    @include commonContainer;
    padding-top: 0;
    display: flex;
    align-items: center;

    .nav {

      a {
        font-size: 16pt;
        color: black;
        margin-right: 50px;

        &:hover {
          color: rgb(153, 153, 153);
        }
      }
    }
  }
}


.burgerMenu {
  display: none;

  .burgerNav {
    width: 100vw;
    height: 100vh;
    opacity: 0.7;
    background-color: #050505;
    display: flex;
    flex-direction: column;
  }

  .showBurgerMenu {
    display: none;
  }
}


@media (max-width: 1059px) {
  .headerBlock {
    .header {
      display: none;
    }
  }
  .burgerMenu {
    @include commonContainer;

    padding-top: 0;
    display: flex;
    align-items: center;
  }
}




