.containerBlock {
    width: 99vw;
    height: 70px;
    background-color: #cfeaff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.headerMenu {
    border: 2px solid black;
    width: 350px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14pt;
}

a {
    text-decoration: none;
}