.containerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f1e2ff;
    padding: 50px;
}

.presentBlock{
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 300px;
}

.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    height: 150px;
}

.text{
    background-color: #d8d8d8;
    font-size: 16pt;
    font-weight: bold;
}

.body{
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
