.containerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 99vw;
    height: 100vh;
    background-color: #f1e2ff;
}

.presentBlock{
    width: 79%;
    height: 60%;
}

.header{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    border: 2px solid black;
    height: 35%;
}

.text{
    background-color: #d8d8d8;
    font-size: 16pt;
    font-weight: bold;
}

.body{
    border-bottom: 2px solid black;
    display: flex;
    justify-content: space-between;
    height: 65%;
}