@import "src/Common/Styles/mixins";

.contactMeBlock {
  display: flex;
  justify-content: center;

  .presentBlock {
    @include commonContainer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 370px;

    .contact {
      font-size: 16pt;
      font-weight: bold;
      align-self: flex-start;
    }

    .form {
      display: flex;
      flex-direction: column;
      width: 80%;
      min-width: 300px;
    }
  }
}

