.containerBlock {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffe2e2;
    padding: 50px;
}

.presentBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    min-width: 300px;
    height: 300px;
}

.contact {
    font-size: 16pt;
    font-weight: bold;
    align-self: flex-start;
}

.form {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 300px;
}

.formEmail {

}

.btn {

}
