.block3 {
    width: 99vw;
    height: 100vh;
    background-color: #9165ef;
}

.block4 {
    width: 99vw;
    height: 100vh;
    background-color: #ffa04d;
}

.block5 {
    width: 99vw;
    height: 100vh;
    background-color: #2fe9e9;
}

.footer {
    width: 99vw;
    height: 100vh;
    background-color: #9d68ff;
}