.containerBlock {
    box-sizing: border-box;
    border-left: 2px solid black;
    border-right: 2px solid black;
    width: 40%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.header {
    border-bottom: 2px solid #000000;
    background-color: #d8d8d8;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.text {

}

.btn{
    background-color: #929292;
    padding: 5px 20px;
    font-size: 16pt;
    font-weight: bold;
}

.about {
    font-size: 12pt;
    font-weight: bold;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.name {
    align-self: flex-start;
    background-color: #d9d9d9;
    margin: 7px 0 0 7px;
}

.description {
    align-self: flex-start;
    background-color: #d9d9d9;
    margin: 7px 0 0 7px;
}