.containerBlock {
    display: flex;
    justify-content: center;
    background-color: #b0acf6;
    padding: 0 50px;
    height: 350px;
    margin-top: 60px;
}

.presentBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 80%;
    min-width: 300px;

}

.header {
    display: flex;
    justify-content: flex-start;
    font-size: 16pt;
    font-weight: bold;
}

.aboutMe{
    font-size: 15pt;
    font-weight: bold;
}

