@import "./src/Common/Styles/mixins";

.aboutMeBlock {
  display: flex;
  justify-content: center;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    @include commonContainer;

    .header {
      display: flex;
      justify-content: flex-start;
      font-size: 16pt;
      font-weight: bold;
    }

    .content {
      .aboutMe {
        font-size: 15pt;
        font-weight: bold;
      }
    }
  }
}







