.containerBlock {
    display: flex;
    justify-content: center;



}

.presentBlock {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 70px;
    min-width: 300px;

}

.header {
    display: flex;
    justify-content: flex-start;
    font-size: 16pt;
    font-weight: bold;
}

.aboutMe {
    font-size: 15pt;
    font-weight: bold;
}

